body, html {
    scroll-behavior: smooth;
}
.point {
    font-size: xx-large;
}
h1 {
    text-align: center;
    width: 500px;
    height: 80px;
}
li{
    font-size: 20px;
    /*margin-left: 450px;*/
}
a:hover{
    color: brown;
}
p.prgrf {
    background: darkgrey;
    color: white;
    font-size: 20px;
    width: 500px;
}
