body, html {
    scroll-behavior: smooth;
}
.point {
    font-size: xx-large;
}
h1 {
    text-align: center;
    width: 400px;
    height: 120px;
}
li{
    font-size: 15px;
    margin-left: 450px;
}
a:hover{
    color: brown;
}
p.prgrf {
    background: darkgrey;
    color: white;
    font-size: 20px;
}
